$componentSpacing: (
  none: 0,
  small: 30px,
  medium: 60px,
  large: 120px,
);

$componentMargin: $componentSpacing;
$componentPadding: $componentSpacing;

$defaultComponentSpacing: medium;
$defaultComponentMargin: $defaultComponentSpacing;
$defaultComponentPadding: $defaultComponentSpacing;

$spacingDirections: (
  top: 'top',
  bottom: 'bottom',
);
$marginDirection: $spacingDirections;
$paddingDirection: $spacingDirections;

$marginClassName: 'margin';
$paddingClassName: 'padding';
