$uniformSpacing: false;
$variableSpacing: true;
$vertical: true;
$logicalProperties: true;
$componentMargin: ();
$componentPadding: ();
$directionProperties: null;
$defaultPadding: null;
$defaultMargin: null;
$classNameConfig: (
  padding: 'padding',
  margin: 'margin',
  direction: 'start' 'end',
);

@if ($vertical) {
  @if ($logicalProperties) {
    $directionProperties: ('block-start' 'block-end');
  } @else {
    $directionProperties: ('top' 'bottom');
  }
} @else {
  @if ($logicalProperties) {
    $directionProperties: ('inline-start' 'inline-end');
  } @else {
    $directionProperties: ('left' 'right');
  }
}


